body {
    padding: 0px;
    margin: 0px;
}

#header {
    text-align: center;
    height: 100px;
}
#content {
    margin-left: 110px;
    margin-right: 310px
}

#author-info {
    position: absolute;
    top: 115px;
    right: 5px;
    width: 300px;
}

#buttons input {
    width: 120px;
}

.clear {
    clear: both;
}

#links {
    position: absolute;
    top: 125px;
    left: 5px;
    width: 100px;
}


