

.sprite {
    background-image:linear-gradient(transparent,transparent),url(../Images/sprite-81a290a5.svg);
    background-repeat:no-repeat;
    display:inline-block;
    vertical-align:middle
}
    
.svg-Commons-logo_sister {
    background-position:0 0;
    width:47px;
    height:47px
}

.svg-MediaWiki-logo_sister {
    background-position:0 -47px;
    width:42px;height:42px
}

.svg-Meta-Wiki-logo_sister {
    background-position:0 -89px;
    width:37px;
    height:37px
}

.svg-Wikibooks-logo_sister {
    background-position:0 -126px;
    width:37px;
    height:37px
}

.svg-Wikidata-logo_sister {
    background-position:0 -163px;
    width:49px;height:49px
}

.svg-Wikimedia-logo_black {
    background-position:0 -212px;
    width:42px;
    height:42px }
    
.svg-Wikipedia_wordmark {
    background-position:0 -254px;
    width:176px;
    height:32px 
}
    
.svg-Wikiquote-logo_sister {
    background-position:0 -286px;
    width:42px;
    height:42px
}

.svg-Wikisource-logo_sister {
    background-position:0 -328px;
    width:39px;height:39px
}

.svg-Wikispecies-logo_sister {
    background-position:0 -367px;
    width:42px;
    height:42px
}

.svg-Wikiversity-logo_sister {
    background-position:0 -409px;
    width:43px;
    height:37px
}

.svg-Wikivoyage-logo_sister {
    background-position:0 -446px;
    width:36px;
    height:36px
} 

.svg-Wiktionary-logo_sister {
    background-position:0 -482px;
    width:37px;
    height:37px
}

.svg-arrow-down {
    background-position:0 -519px;
    width:12px;
    height:8px
}

.svg-arrow-down-blue {
    background-position:0 -527px;
    width:12px;
    height:8px
}
.svg-badge_google_play_store {
    background-position:0 -535px;
    width:124px;
    height:38px
}

.svg-badge_ios_app_store {
    background-position:0 -573px;
    width:110px;
    height:38px
}

.svg-noimage {
    background-position:0 -611px;
    width:58px;
    height:58px
} 

.svg-search-icon {
    background-position:0 -669px;
    width:22px;
    height:22px
}

.svg-translate-icon {
    background-position:0 -691px;
    width:25px;
    height:18px
}

.svg-wikipedia_app_tile {
    background-position:0 -709px;
    width:42px;
    height:42px
}

#titleBox {
    width: 100%;
    margin-top: 50px;
}

.titleBoxLogo {
    margin: 0 auto;
    display: block;
}

h2 {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}

#languageNav{ 
    width: 100%;
}
.lang-nav-logo {
    margin: 0 auto;
    display: block;
    position: relative;
    top: 60px;
}

.langLinks {
    position: relative;
    width: 156px;
    margin: 0 auto;
    list-style: none;
    -webkit-padding-start: 0;
}

.langLinkBox {
    width: 150px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.langLinkBox a {
    display: block;
    text-align: center;
    font-size: large;
    text-decoration: none;
    color: blue;
    font-weight: bold; 
}

.langLinkBox .numArticles {
    display: block;
    text-align: center;
    color: gray; 
    position: relative;
    top: -15px;
}

.lang1 {
    position: absolute;
    top: -180px;
    left: -150px;
}

.lang2 {
    position: absolute;
    top: -180px;
    left: 195px;
}

.lang2 .numArticles {
    position: relative;
    top: -22px;
}

.lang3 {
    position: absolute;
    top: -115px;
    left: -225px;
}

.lang4 {
    position: absolute;
    top: -115px;
    left: 270px;
}

.lang5 {
    position: absolute;
    top: -50px;
    left: -235px;
}

.lang6 {
    position: absolute;
    top: -50px;
    left: 280px;
}

.lang7 {
    position: absolute;
    top: 15px;
    left: -225px;
}

.lang8 {
    position: absolute;
    top: 15px;
    left: 270px;
}

.lang9 {
    position: absolute;
    top: 80px;
    left: -150px;
}

.lang10 {
    position: absolute;
    top: 80px;
    left: 195px;
}
